<!--商户详情页面-->
<link rel="stylesheet" type="text/css" href="css/wdxq.css"/>
<div class="wd_ul">
	<ul>
		<li arr="arr" type-name='shop' copy tel-num='telArr'>
			<img src="img/iconfont-xingxing.png" class="img-resposive start"/>
			<img src="img/iconfont-xingxing.png" class="img-resposive start"/>
			<img src="img/iconfont-xingxing.png" class="img-resposive start"/>
			<p id="title_img">
				<span><img src="img/cz.png" alt="" />{{arr.view_count}}</span>
				<span><img src="img/love.png" alt="" />{{arr.favorite_count}}</span>
				<span><img src="img/iconfont-qian.png" alt="" />{{arr.capita_consumption}}</span>
			</p>
		</li>
	</ul>
	<ul>
		<li><h4>店铺优惠</h4></li>
		<li style="font-size:14px;color:red;">{{arr.shop_preferential}}</li>
	</ul>
	<ul>
		<li><a href="#/shxq/jrcs">金融超市</a></li>
	</ul>
</div>
